# Ignore virtual environment
venv/
env/

# Ignore database files (if using SQLite)
db.sqlite3

# Ignore migration files
**/migrations/*.py
!**/migrations/__init__.py

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore IDE and OS-specific files
.vscode/
.DS_Store
