{% extends "index.html" %}
{% block content %}
<h2>Manager Dashboard</h2>
<a href="{% url 'create_project' %}" class="btn btn-primary">Start New Project</a>
<table class="table">
    <tr>
        <th>Project Name</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for project in projects %}
        <tr>
            <td><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></td>
            <td>{{ progress }}</td>
            <td><a href="{% url 'project_detail' project.id %}">Edit</a></td>
        </tr>
    {%empty%}
        <tr>
            <td>No such data</td>
        </tr>
    {% endfor %}
</table>
 <!-- Create Task Modal -->
 <div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTaskModalLabel">Create New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm" method="POST">
                    {% csrf_token %}
                    <p><strong>Task Title:</strong> {{ form.title }}</p>
                    <p><strong>Description:</strong> {{ form.description }}</p>
                    <p><strong>Assigned To:</strong> {{ form.assigned_to }}</p>
                    <p><strong>Status:</strong> {{ form.status }}</p>           
                    <p><strong>Project</strong> {{ form.project }}</p>
                    <p><strong>Due By</strong> {{ form.due_date }}</p>

                    <button type="submit" class="btn btn-dark w-100 mt-2">Add Task</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
