{% extends "index.html" %}

{% block content %}
<div class="card border-dark shadow mt-4 mb-4">
    <div class="card-header text-center bg-dark text-white">My Projects</div>
    <ul>
        <div class="d-flex flex-wrap">
            {% for project in projects %}
                <div class="card m-2 border-dark shadow" style="width: 20rem;">
                    <div class="card-header bg-dark text-white">
                        <a href="{% url 'project_detail' project.id %}" style="font-weight: bold;">{{ project.name }}</a>
                    </div>
                    <div class="card-body">
                            <p><a href="{% url 'project_detail' project.id %}" class="card-text small">{{ project.description }}</a></p>
                            <p class="card-text small">{{ project.due_date }}</p>
                    </div>
                </div>
            {%empty%}
                <div class="card-body">
                    <h5 class="card-title">No on-going projects</h5>
                </div>
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock %}
