{% extends 'index.html' %}
{% block title %}My Tasks{% endblock %}


{% block content %}
<!-- Main Content -->
<div class="container mt-4">
    <h2>Task List</h2>
    {% for task in tasks %}
        <div class="card mb-3" style="width: 18rem">
            <div class="card-body">
                <a href="{% url 'taskdetail' task.id %}">{{ task.title }}</a>
                <p class="card-text">Due: {{ task.due_date }}</p>
                <p class="card-text">Status: {{ task.status }}</p>
            </div>
        </div>
    {% empty %}
        <p>No tasks due.</p>
    {% endfor %}
</div>
{% endblock %}


