a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: red;
}
body {
    display: flex;
    padding-top: 50px;
    background-color: teal;
}
.table {
    border-radius: 10px;
}
.sidebar {
    width: 100px;
    height: 100vh;
    background: #343a40;
    color: white;
    padding-top: 20px;
    position: fixed;
}
.sidebar a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.sidebar a:hover {
    background: #495057;
}
.content {
    
    padding: 20px;
    width: 100%;
}
.btn btn-secondary{
    padding: 5px;
    width: 70%;
}
.card {
    border-radius: 10px;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.02);
}


.bg-warning .card { border-left-color: #ff9800; }
.bg-info .card { border-left-color: #2196f3; }
.bg-success .card { border-left-color: #4caf50; }

